@import "vars";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  & .input {
    margin: 0;
    min-width: 1px;
    padding:  2px 7px;
    color: #000;
    border: 2px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    transition: all .2s ease;

    &:hover {
      border: 2px solid $border-color;
    }

    &:focus {
      border: 2px solid #1a73e8;
    }

  }

  & .button {
    @include button()
  }
}