@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,700&display=swap');
@import '~normalize.css';

@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
}